<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<!-- {% block nav_right %}
<li><a href="{% url 'signup' %}" class="btn btn-outline-light">Sign Up</a></li>
<li><a href="{% url 'login' %}" class="btn btn-outline-light">Login</a></li>
{% endblock %} -->

{% block body %}
  <div class="jumbotron">
    <center>
<h1 class="display-4">Somaiya Canteen</h1>
  <p class="lead">Don't wait in a line! Order your food from the new Somaiye Canteen Website!</p>
  <hr class="my-4">
  <p>Use your Somaiya account to login and pay using wide range of payment options now!</p>
  <p class="lead">
    {%if user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{% url 'menu' %}" role="button">Menu</a>
    {% endif %}
  </p>
</center>
  </div>
{% endblock %}
