<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}



{% block body %}
	<div class="card mx-auto" style="width: 18rem;">
		<div class="card-header">
      <img class="card-img-top" src="{% static "images/kjsieit-logo.svg" %}" alt="Card image cap">
      <p></p>
		<h4>Sign Up</h4>
		</div>
		<div class="card-body">
        <form enctype="multipart/form-data" method="POST" novalidate>
          {% csrf_token %}
					{{ user_form.as_p}}
					{{ profile_form.as_p}}
          <input type="submit" value="Sign Up" class="btn btn-primary" />
        </form>
			</div>
		</div>
{% endblock %}
